<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
          	<div class="container">
	          	<img src="img/img-1.png" alt="banner">
	            <div class="carousel-caption">            
	             	<h1>Lorem Ipsum is simply</h1>
	              	<p>dummy text of the </p><p>printing &amp; typesetting </p>
	              	<div>
	              		<a class="btn btn-lg btn-primary" href="#" role="button">
	              			<div class="circle-ok">
	              				<span class="glyphicon glyphicon-ok"></span>
	              		</div>Sign up now</a>
	              	</div>  
	            </div> 
          	</div>
        </div>
        <div class="item">
          	<div class="container">
	          	<img src="img/img-1.png" alt="banner">
	            <div class="carousel-caption">            
	             	<h1>Lorem Ipsum is simply</h1>
	              	<p>dummy text of the </p><p>printing &amp; typesetting </p>
	              	<div>
	              		<a class="btn btn-lg btn-primary" href="#" role="button">
	              			<div class="circle-ok">
	              				<span class="glyphicon glyphicon-ok"></span>
	              		</div>Sign up now</a>
	              	</div>  
	            </div> 
          	</div>
        </div>
        <div class="item">
          	<div class="container">
	          	<img src="img/img-1.png" alt="banner">
	            <div class="carousel-caption">            
	             	<h1>Lorem Ipsum is simply</h1>
	              	<p>dummy text of the </p><p>printing &amp; typesetting </p>
	              	<div>
	              		<a class="btn btn-lg btn-primary" href="#" role="button">
	              			<div class="circle-ok">
	              				<span class="glyphicon glyphicon-ok"></span>
	              		</div>Sign up now</a>
	              	</div>  
	            </div> 
          	</div>
        </div>
    </div>
    <div class="edge"></div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    	<span class="glyphicon glyphicon-menu-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    	<span class="glyphicon glyphicon-menu-right"></span></a>
</div><!-- /.carousel -->


