<div class="marketing">
      <!-- START THE ROW -->
	<div class="row section">
        <div class="col-lg-4">
        	<div class="img-circle blue">
        		<img src="img/img-3.png" alt="Generic placeholder image">
        	</div>
        	<h3>Contrary to popular</h3>
          	<p>Lorem Ipsum is not simply random text. It has roots in a piece.</p>
        </div>
        <div class="col-lg-4">
            <div class="img-circle red">
            	<img src="img/img-4.png" alt="Generic placeholder image"> 
            </div>
          	<h3>Contrary to popular</h3>
          	<p>Lorem Ipsum is not simply random text. It has roots in a piece.</p>
        </div>
        <div class="col-lg-4">
            <div class="img-circle yellow">
            	<img src="img/img-5.png" alt="Generic placeholder image">
            </div>
          	<h3>Contrary to popular</h3>
         	 <p>Lorem Ipsum is not simply random text. It has roots in a piece.</p>
        </div>
    </div>
      <!-- START THE FEATURETTES -->
    <div class="row featurette">
        <div class="col-md-5">
        	<h1 class="featurette-heading">The Shopping cart</h1>
        	<img class="featurette-image img-responsive" src="img/img-6.png" alt="Cart image">
   		</div>
        <div class="col-md-7">
          	<h2 class="featurette-heading">Some Bullet text here</h2>
          	<p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting <br>
				Lorem Ipsum has been the industry's standard dummy text ever <br>
				When an unknown printer took a galley of type and scrambled <br>
				It to make a type specimen book. It has survived not only five centuries<br>
				But also the leap into electronic typesetting,<br>
				Remaining essentially unchanged. It was popularised <br>
				The release of Letraset sheets containing Lorem Ipsum passages
			</p>
        </div>
    </div>
</div>
<hr>
